body {
    margin: 5% 10%;
    background-color: #f2b852;
}

h1, h2, h3 {
    color: #ffff66 ;
    border: solid #ffff66 1px;
}

.imatge{
    width: 200px;
    margin: 10px;
}

.btn{
    width: 60px;
    height: 60px;
}

.lapiz{
    width: 70px;
    height: 60px;
}

.mayu{
    text-transform: uppercase;
}

table, th, td{
    border: solid black 2px;
    background-color: white;
}

td{
    padding: 10px;
}

