{% extends 'base.html.twig' %}
{% block title %}Llibres{% endblock %}
{% block body %}
  
    <h1>Biblioteca Personal Toni</h1>
    <h1>{{data}}</h1>
    <p>Pàgina d'inici</p>
    <p>Projecte Symfony 2n DAW</p>
    <p>Curs 20/21</p>
    <img class="image" src="{{ absolute_url(asset('img/llibre.png')) }}" />

   {{ include ('llista_llibres.html.twig', { 'llibres': llibres }) }}
     
{% endblock %}
