
{% if llibres %}
    <ul>
    {% for llibre in llibres %}
        <li>
            <a href ="{{ path('fitxa_llibre', {'isbn': llibre.isbn}) }}">{{llibre.titol}}</a>
            <a href ="{{ path('editar_llibre', {'isbn': llibre.isbn}) }}"> <img class="lapiz" src="{{ absolute_url(asset('img/lapiz.png')) }}" /></a>
        </li>
        
    {% endfor %}
    </ul>
    {% else %}
        <p>Llibres no trobats</p>
    {% endif %}
