{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page not found</h1>
    <img class="image" src="{{ absolute_url(asset('img/404.png')) }}" />
    <p>
        The requested page couldn't be located. Checkout for any URL
        misspelling or <a href="{{ path('inici') }}">return to the homepage</a>.
    </p>
{% endblock %}